/* Tailwind v4 – ใช้แบบ CSS-first */
@import "tailwindcss";
@import "bootstrap-icons/font/bootstrap-icons.css";

/* =========================
  Theme Variables
========================= */
:root {
  /* Primary Purple */
  --color-primary: 124 58 237;
  /* purple-600 */
  --color-primary-light: 139 92 246;
  /* purple-500 */
  --color-primary-dark: 67 11 156;
  /* purple-700 */

  --color-background: 255 255 255;
  --color-foreground: 23 23 23;

}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: 10 10 10;
    --color-foreground: 237 237 237;
  }
} */

/* =========================
  Font utilities
========================= */
.font-th {
  font-family: var(--font-th), sans-serif;
}

.font-en {
  font-family: var(--font-en), sans-serif;
}

/* =========================
  Global body font (AUTO TH/EN)
========================= */

body {
  background-color: rgb(var(--color-background));
  color: rgb(var(--color-foreground));

  /* เรียงลำดับใหม่ */
  font-family: 
    var(--font-en),   /* 1. Krub (มาแค่ Latin) */
    var(--font-th),   /* 2. Noto Sans Thai (มาเสริมตัวไทย) */
    system-ui, 
    sans-serif;

  font-feature-settings: "tnum";
}

@layer utilities {
  .bg-primary {
    background-color: rgb(var(--color-primary));
  }

  .bg-primary-light {
    background-color: rgb(var(--color-primary-light));
  }

  .text-primary {
    color: rgb(var(--color-primary));
  }

  .text-primary-light {
    color: rgb(var(--color-primary-light));
  }

  .text-primary-dark {
    color: rgb(var(--color-primary-dark));
  }

  .border-primary {
    border-color: rgb(var(--color-primary));
  }
}


/* =========================
  FullCalendar Customization
========================= */

.fc .fc-daygrid-event {
  cursor: pointer;
}

/* ปุ่มทั้งหมด */
.fc .fc-button {
  background-color: #430964;
  border-color: #561979;
  color: #ffffff;
}

/* hover */
.fc .fc-button:hover {
  background-color: #70249c;
  border-color: #70249c;
}

/* ปุ่ม today */
.fc .fc-today-button {
  background-color: #430964;
  border-color: #430964;
}

/* ปุ่มที่ถูก disable */
.fc .fc-button:disabled {
  background-color: #4c4255;
  border-color: #4c4255;
  cursor: not-allowed;
}
